
{{#each bookmarks}}
  <section class="ui segment">
    <h2 class="ui header">
      {{title}}
    </h2>
    <a href="/bookmarkList/{{id}}" class="ui icon button">
      <i class="icon folder open"></i>
    </a>
  </section>
{{/each}}
  
 